/* Empty. Add your own CSS if you like */

.ion-rickshaw {
  content: url('../img/rickshaw.png') !important;
  font-size: 55px;
  margin-top: 1000px;
   vertical-align: middle;
} 
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 84%;
}
#CarButtons {
       bottom: 6%;
       left: 0;
       position: fixed;
       z-index: 3000;
}
